<!DOCTYPE html>
<html lang="en">   

<head>   
<title>Tommy's Business Concepts</title>   
</head> 

<body>  
<div class="container"> 
	<div class="row">
		<div class="aboutmeheader">
			<a class="About-Overlay">About-Overlay</a>
		</div>
	</div>

    <div id="experiencemodal" class="modal hide fade in" style="display: none; ">  
        <div class="modal-header">  
       	    <a class="close" data-dismiss="modal">×</a>  
        </div>  

        <div class="experiencemodal-body">  
            <%= image_tag("workexpmodal.jpg", :alt => "Work Experience") %>               
        </div>   
    </div>  	

    <div id="skillsmodal" class="modal hide fade in" style="display: none; ">  
        <div class="modal-header">  
       	    <a class="close" data-dismiss="modal">×</a>  
        </div>  

        <div class="skillsmodal-body">  
            <%= image_tag("skillandinterestsmodal.jpg", :alt => "Skills") %>               
        </div>   
    </div>  

    <div id="contactmemodal" class="modal hide fade in" style="display: none; ">  
        <div class="modal-header">  
       	    <a class="close" data-dismiss="modal">×</a>  
        </div>  

        <div class="contactmemodal-body">  
            <%= image_tag("contactmemodal.jpg", :alt => "Contact Me") %>               
        </div>    
	</div>  

	<div class="row">
		<div class="span4">
			<a data-toggle="modal" href="#experiencemodal" class="workexperience-Overlay">Overlay</a>
		</div>

		<div class="span4">
			<a data-toggle="modal" href="#skillsmodal" class="skillsandinterests-Overlay">Overlay</a>
		</div>

		<div class="span4">
			<a data-toggle="modal" href="#contactmemodal" class="contactme-Overlay">Overlay</a>
		</div>
	</div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="bootstrap/js/bootstrap-modal.js"></script>  

</body>
</html>