<div class= "container">

<div class="row">
	<div class="span12">
		<a href="#" class="BIZ-Overlay">BIZ Overlay</a>
	</div>
</div>

<div class="row">
	<div class="span4">
		<a href="#" class="HELO-Overlay">HELO Overlay</a>
	</div>
	<div class="span4">
		<a href="#" class="DTF-Overlay">DTF Overlay</a>
	</div>
	<div class="span4">
		<a href="#" class="SPANK-Overlay">SPANK Overlay</a>
	</div>
</div>

<div class="row">
	<div class="span4">
		<a href="#" class="EUROBEGO-Overlay">EUROBEGO Overlay</a>
	</div>
	<div class="span4">
		<a href="#" class="WATERBEERS-Overlay">WATERBEERS Overlay</a>
	</div>
	<div class="span4">
		<a href="#" class="SOAPBOX-Overlay">SOAPBOX Overlay</a>
	</div>
</div>
</div>