@import "bootstrap";

/* universal */

html {
	 overflow-y: scroll;
}

body {
	padding-top: 30px;
} 
 
section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.center h3 {
	margin-bottom: 10px;
}

.hero-unit {
  padding-top: 10px;
  padding-bottom: 195px;
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-image: url('/assets/tandj.jpg');
  background-repeat: no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 1px;
  width: auto;
  margin-left: "30px";
  margin-right: "30px";
    }

.nav{
	background: #000000;
}

.navbar navbar-fixed-top{
	background: #000000;
}

.navbar-inner{
	background: #000000;
}


.row {
	margin-left: "100px";
	margin-right: "100px";
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3en;
	letter-spacing: -2px;
	margin-bottom: 10px;
	margin-top: 1px;
	text-align: left;
	color: #000000;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	color: #000000;
}

h3 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	color: #000000;
}

p {
	font-size: 1.1en;
	line-height: 1.7en;
	color: #000000;
	
}

.homepagelinks {
	color: #000000;
	font: "calibri";
}

.link_to{
	color: #000000;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7en;
	color: #342733;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #483747;
	text-decoration: none;
}

/* Links */

#row {
	float: center;
	text-align: center;
	color: #FF7800;
	}
	
#li{
	color: #342733;	
}

/* Photography */

.Persons-Overlay {
	background: asset-url("worship.jpg", image) no-repeat; 
	width: 320px;
	height: 214px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
}

.Persons-Overlay:HOVER {
	background: asset-url("persons.png", image) no-repeat; 
	width: 320px;
	height: 214px;
}

.Places-Overlay {
	background: asset-url("champlain.jpg", image) no-repeat; 
	width: 320px;/*width: of image*/;
	height: 214px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
}

.Places-Overlay:HOVER {
	background: asset-url("PLACES.png", image) no-repeat; 
	width: 320px;
	height: 214px;
}	

.Things-Overlay {
	background: asset-url("tokyo.jpg", image) no-repeat; 
	width: 320px;
	height: 214px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
}

.Things-Overlay:HOVER {
	background: asset-url("THINGS.png", image) no-repeat; 
	width: 320px;
	height: 214px;
}

.span12 {
	margin-bottom: 0px;
    margin-top: 80px;
    width: 960px;
}

.Photog-Overlay {
	background: asset-url("TSPHOTOGINVERT.jpg", image) no-repeat; 
	width: 960px;/*width: of image*/;
	height: 214px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;	
}

.Photog-Overlay:HOVER {
	background: asset-url("tsphotog.jpg", image) no-repeat; 
	width: 960px;
	height: 214px;
}

.dialog-modal{
	align: center;
}

/*BUSINESS CONCEPTS*/

.BIZ-Overlay{
	background: asset-url("BUSINESSCONCEPTS.jpg", image) no-repeat; 
	width: 960px;/*width: of image*/;
	height: 214px;
	float: center;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
}

.BIZ-Overlay:HOVER {
	background: asset-url("bizconceptsINVERSE.jpg", image) no-repeat; 
	width: 960px;
	height: 214px;
}

.HELO-Overlay{
	background: asset-url("HELO.png", image) no-repeat; 
	width: 320px;/*width: of image*/;
	height: 214px;
	float: center;
	display: block;
	text-indent: -1000px;
	overflow: hidden;	
}

.HELO-Overlay:HOVER{
	
}

.DTF-Overlay{
	background: asset-url("DTF.png", image) no-repeat; 
	width: 320px;/*width: of image*/;
	height: 214px;
	float: center;
	display: block;
	text-indent: -1000px;
	overflow: hidden;		
}

.DTF-Overlay:HOVER{
	
}

.SPANK-Overlay{
	background: asset-url("SPANK.png", image) no-repeat; 
	width: 320px;/*width: of image*/;
	height: 214px;
	float: center;
	display: block;
	text-indent: -1000px;
	overflow: hidden;	
}

.SPANK-Overlay:HOVER{
	
}

.EUROBEGO-Overlay{
	background: asset-url("EUROBEGO.png", image) no-repeat; 
	width: 320px;/*width: of image*/;
	height: 214px;
	float: center;
	display: block;
	text-indent: -1000px;
	overflow: hidden;		
}

.EUROBEGO-Overlay:HOVER{
	
}

.WATERBEERS-Overlay{
	background: asset-url("WATERBEERS.png", image) no-repeat; 
	width: 320px;/*width: of image*/;
	height: 214px;
	float: center;
	display: block;
	text-indent: -1000px;
	overflow: hidden;	
}

.WATERBEERS-Overlay:HOVER{
	
}

.SOAPBOX-Overlay{
	background: asset-url("SOAPBOX.png", image) no-repeat; 
	width: 320px;/*width: of image*/;
	height: 214px;
	float: center;
	display: block;
	text-indent: -1000px;
	overflow: hidden;	
}

.SOAPBOX-Overlay:HOVER{
	
}